@import "../../Variable/responsive.module";

.cart-product {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid rgb(221, 220, 220);
  @include mobile {
    flex-direction: column;
  }
  .cart-product__detail {
    flex: 2;
    display: flex;
    .cart-info__image {
      width: 200px;
    }
    .cart-info__details {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .cart-product__color {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-left: 6px;
        box-shadow: 0 0 2px black;
        &--black{
          background-color: black;
        }
        &--red{
          background-color: red;
        }
        &--orange{
          background-color: orange;
        }
        &--yellow{
          background-color: yellow;
        }
        &--green{
          background-color: green;
        }
        &--blue{
          background-color: blue;
        }
        &--purple{
          background-color: purple;
        }
        &--pink{
          background-color: pink;
        }
        &--gray{
          background-color: gray;
        }
        &--white {
          background-color: white;
        }
      }
    }
  }

  .cart-product__priceDetail {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .cart-product__amountContainer {
      display: flex;
      align-items: center;

      .cart-product__productAmount,
      .cart-product__amountBtn {
        width: 30px;
        height: 30px;
        border-radius: 10px;
        border: 1px solid teal;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 5px;
      }

      .cart-product__amountBtn {
        cursor: pointer;
        &:hover {
          border-color: #000;
          background-color: teal;
          color: white
        }
      }

      .cart-product__productAmount {
        font-size: 20px;
        margin: 5px;
        @include mobile {
          margin: 5px 15px;
        }
      }
    }
    .cart-product__price {
      font-size: 30px;
      font-weight: 200;
      @include mobile {
        margin-bottom: 20px;
      }
    }

    .cart-product__remove {
      color: red;
      cursor: pointer;

      &:hover {
        color: rgba(255, 0, 0, 0.7);
      }
    }
  }
}
