@import "../../Variable/responsive.module";

.productList-container {
  .productList-title {
    margin: 20px;
  }
  .productList-filterContainer {
    display: flex;
    justify-content: space-between;
    .productList-filter {
      margin: 20px;
      @include mobile {
        width: 0 20px;
        display: flex;
        flex-direction: column;
      }
      .productList-filter__text {
        font-size: 20px;
        font-weight: 600;
        margin-right: 20px;
        @include mobile {
          margin-right: 0;
        }
      }
      .productList-filter__select {
        padding: 10px;
        margin-right: 20px;
        @include mobile {
          margin: 10px 0;
        }
        .productList-filter__select__option {
        }
      }
    }
  }
}
