.productList-container {
  .productList-title {
    margin: 20px;
  }
  .productList-filterContainer {
    display: flex;
    justify-content: space-between;
    .productList-filter {
      margin: 20px;
      .productList-filter__text {
        font-size: 20px;
        font-weight: 600;
        margin-right: 20px;
      }
      .productList-filter__select {
        padding: 10px;
        margin-right: 20px;
        .productList-filter__select__option {
        }
      }
    }
  }
}
