@import "../../Variable/_responsive.module.scss";

.nav-container {
  height: 60px;
  @include mobile {
    height: 50px;
  }

  .nav-wrapper {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    @include mobile {
      padding: 10px 0px;
    }

    .nav-left {
      flex: 1;
      display: flex;
      align-items: center;
      .nav-language {
        font-size: 14px;
        cursor: pointer;
        @include mobile {
          display: none;
        }
      }
      .nav-search_container {
        border: 0.5px solid lightgray;
        display: flex;
        align-items: center;
        margin-left: 25px;
        padding: 5px;

        .nav-search_input {
          border: none;
          outline: none;
          @include mobile {
            width: 50px;
          }
        }
      }
    }
    .nav-center {
      flex: 1;
      text-align: center;
      .nav-logo {
        font-weight: 900;
        // font-style: italic;
        // color: #1277eb;
        margin: 0;
        @include mobile {
          font-size: 24px;
        }
      }
    }
    .nav-right {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @include mobile {
        flex: 2;
        justify-content: center;
      }

      .nav-menu__item {
        font-size: 14px;
        cursor: pointer;
        margin-left: 25px;
        color: black;
        @include mobile {
          font-size: 12px;
          margin-left: 10px;
        }
      }
    }
  }
}

// .nav-menu_item {
//   font-size: 14px;
//   cursor: pointer;
//   margin-left: 25px;
//   @include mobile {
//     font-size: 12px;
//     margin-left: 10px;
//   }
// }
// .nav-wrapper{
//     padding:  10px 20px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }
// .nav-left {
//     flex: 1;
//     display: flex;
//     align-items: center;
// }

// .nav-language {
//     font-size: 14px;
//     cursor: pointer;
// }
// .nav-search-container{
//     border: 0.5px solid lightgray;
//     display: flex;
//     align-items: center;
//     margin-left: 25px;
//     padding: 5px;

// }

// .nav-search-input {
//   border: none;
// }

// .nav-center {
//     flex: 1;
// }

// .nav-right {
//     flex: 1;
// }
