*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    
}

body {
    font-family: "Roboto", sans-serif;
    
}

.text-blue {
    color: blue;
}

.error-msg {
    color: red;
    font-size: 12px;
    margin: 0;
}