@import "../../Variable/_responsive.module";

.categories-container {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  @include mobile {
    padding: 0;
    flex-direction: column;
  }
}
