@import "../../Variable/_responsive.module";

.footer-fix {
  position: relative;
  bottom: 0;
}

.footer-container {
  display: flex;
  @include mobile {
    flex-direction: column;
  }

  .footer-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    .footer-logo {
    }
    .footer-desc {
      margin: 20px 0px;
    }
    .footer-socialContainer {
      display: flex;
      .footer-socialIcon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px;

        &--facebook {
          background-color: #3b5999;
        }
        &--instagram {
          background-color: #e4405f;
        }
        &--twitter {
          background-color: #55acee;
        }
        &--pinterest {
          background-color: #e60023;
        }
      }
    }
  }
  .footer-center {
    flex: 1;
    padding: 20px;
    @include mobile {
      display: none;
    }

    .footer-title {
      margin-bottom: 30px;
    }
    .footer-list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
    }
    .footer-list__item {
      width: 50%;
      margin-bottom: 10px;
    }
  }
  .footer-right {
    flex: 1;
    padding: 20px;
    @include mobile {
      background-color: #fff8f8;
    }

    .footer-title {
      margin-bottom: 30px;
    }
    .footer-contactItem {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
    }
    .footer-payment {
      width: 50%;
    }
  }
}
