@import "../../Variable/responsive.module";

.product-container {
  .product-wrapper {
    padding: 50px;
    display: flex;
    @include mobile {
      padding: 10px;
      flex-direction: column;
    }
    .product-imgContainer {
      flex: 1;
      .product-image {
        width: 100%;
        height: 90vh;
        object-fit: cover;
        @include mobile {
          height: 40vh;
        }
      }
    }
    .product-infoContainer {
      flex: 1;
      padding: 0px 50px;
      @include mobile {
        padding: 10px;
      }
      .product-info__title {
        font-weight: 200;
      }
      .product-info__desc {
        margin: 20px 0px;
      }
      .product-info__price {
        font-weight: 100;
        font-size: 40px;
      }
      .product-info__filterContainer {
        width: 50%;
        margin: 30px 0px;
        display: flex;
        justify-content: space-between;
        @include mobile {
          width: 100%;
        }
        .product-info__filter {
          display: flex;
          align-items: center;
          .product-info__filter__title {
            font-size: 20px;
            font-weight: 200;
          }
          .product-info__filter__color {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            box-shadow: 0 0 3px #000;
            margin: 0px 5px;
            cursor: pointer;
            &--black {
              background-color: black;
            }
            &--blue {
              background-color: blue;
            }
            &--red {
              background-color: red;
            }
            &--orange {
              background-color: orange;
            }
            &--yellow {
              background-color: yellow;
            }
            &--white {
              background-color: white;
            }
            &--purple {
              background-color: purple;
            }
            &--pink {
              background-color: pink;
            }
            &--green {
              background-color: green;
            }
            &--gray {
              background-color: gray;
            }
            &--active {
              border: 1px solid teal;
            }
          }
          .product-info__filter__size {
            margin-left: 10px;
            padding: 5px;
            .product-info__filter__option {
            }
          }
        }
      }

      .product-info__addContainer {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mobile {
          width: 100%;
        }
        .product-info__amountContainer {
          display: flex;
          align-items: center;
          font-weight: 700;
          .product-info__amount,
          .product-info__amountBtn {
            width: 30px;
            height: 30px;
            border-radius: 10px;
            border: 1px solid teal;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0px 5px;
          }

          .product-info__amountBtn {
            cursor: pointer;
            &:hover {
              border-color: #000;
              background-color: teal;
              color: white
            }
          }
        }
        .product-info__button {
          padding: 15px;
          border: 2px solid teal;
          background-color: white;
          cursor: pointer;
          font-weight: 500;
          &:hover {
            border-color: #000;
            background-color: teal;
            color: white;
          }
        }
      }
    }
  }
}
